:root{
  /* color's header & footer */
  --colBackBanners : black;
  /* --colBackBanners : default; */
  --colTxtBanners : white;
  --fontTitle : 'Philosopher';
  --fontSizeTitle : 24px;
  --pathImgBackHome : url("/assets/img/route_lacets_snow.jpg");
  --pathImgBackAdm : url("/assets/img/Gears.jpg");
  --pathImgBackFindCar: url("/assets/img/route_lacets.jpg");
  --pathImgBackCustProf: url("/assets/img/route_lacets_mer.jpg");
  --pathImgBackCustCnx: url("/assets/img/route_lacets_mer.jpg");
}

@font-face {
  font-family: 'Philosopher';
    src:url('/assets/fonts/Philosopher-Regular.ttf');
  }
  
*{
  margin: 0;
  padding: 0;
  font-family: 'Philosopher';
}  

/* global styles */

.iconField{
  display: inline-block;
  width: 20px;
}


/*----------------*/
/* main Styles */
/*----------------*/

.mainCont{
  background-image: var(--pathImgBackHome);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--colTxtBanners);
  height: 100vh;
  display: flex;
  /* align-items: center; */
}  

.mainHeader{
  /* position: fixed;
  top:0;
  left: 0; */
  width: 100%;
  margin: 0px;
  background-color: var(--colBackBanners);
  color: var(--colTxtBanners);
  display: flex;
  align-items: center;
  z-index: 2;
}  

.mainSearch {
  height: 200px;
  width: 500px;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 20px;
  box-shadow: 5px 5px 5px black;
  backdrop-filter: blur(5px);
  /* margin-top: 20px; */
  margin-right: 50px;
}

.mainHeaderLogoImg{
  width: 80px;
  height: auto;
}

.mainHeaderBrand{
  font-family: 'Philosopher', sans-serif;
  font-size: 28px;
}

#mainCarousel{
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
}

/*----------------*/
/* NavSide Styles */
/*----------------*/
.navSideCont{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 0px 4px 4px 0px;
  width: 0px;
  transition: 300ms;
  overflow:hidden;
}

.navSideCont{
  top: 46px;
  position: fixed;
}

.navSideBtn{
  top: 46px;
  position: fixed;
  margin-left: 0px;
  transition: 300ms;
}

.navSideLst{
  list-style-type: none;
}

.navSideBtn{
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0px 4px 4px 0px;
  width : 15px;
  height: 20px;
  text-align: center;
}

/*-------------------*/
/* CustProfil Styles */
/*-------------------*/

.custBody{
  width: 75vw;
  margin-left: 250px;
  padding-top: 40px;
 }

.custCont{
  background-image: var(--pathImgBackCustProf);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vw;
  /* margin-top: 46px; */
}

.cnxCustCont{
  background-image: var(--pathImgBackCustCnx);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vw;
  display: flex;
  justify-content:flex-start;
}

.cnxCustForm{
  margin-left: 200px;
  margin-top: 100px;
}

.cnxCustBtnCreateProfil{
  color: #093C84;
}

.cnxCustBtnCreateProfil:hover{
  color: #0c5ed8;
}


/*----------------*/
/* CarFind Styles */
/*----------------*/
.carFindCont{
  background-image: var(--pathImgBackFindCar);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding:20px;
  }

.carFindShowCrit, .carFindCriteria{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  margin-top: 46px;
  margin-left: 100px;
  width: 100vw;
  padding: 20px;
  backdrop-filter: blur(3px);
}

.carFindShowCrit{
  margin-top: 46px;
}

.carFindCriteria{
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardFindCars{
  color: black;
}

.carFindImg{
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.btnCard{
  transform: scale(0.5);
  transition: transfom 200ms;
  text-decoration: none;
  background-color: #447ee6;
  color: #083a94;
  border: 1px solid #083a94;
  border-radius: 5px;
  padding: 3px;
}

.btnCard:hover{
  transform: scale(1);
  background-color: #083a94;
  color: #447ee6;
  border: 1px solid #447ee6;
}

/* styles for flip cards */
.cardFlip{
  background-color: transparent;
  perspective: 1000px;
  width: 300px;
  height: 400px;
}

.cardCar{
  background-color: transparent;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}  

.cardFlip:hover .cardCar{
  transform: rotateY(180deg);
}

.cardFront, .cardBack{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  backdrop-filter: blur(3px);
}

.cardBack{
  transform: rotateY(180deg);
}

/* btn top on scroll */

#myBtn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 0px;
  z-index: 99;
  outline: none;
  background-color: #447ee6;
  color: #083a94;
  border: 1px solid #083a94;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/*----------------------*/
/* CreateBooking Styles */
/*----------------------*/
.createBookingCont{
  background-image: var(--pathImgBackFindCar);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* color: var(--colTxtBanners); */
  height: 100vh;
  padding: 50px;
  }

.createBookingInfo, .createBookingCriteria, .createBookingPrice{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  width: 350px;
  margin-top: 20px;
}

.createBookingInfo{
  margin-left: 10px;
}
.createBookingImg{
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.createBookingImgBorder{
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  width: 320px;
  margin-top: 20px;
}

/*----------------------*/
/* ManageBooking Styles */
/*----------------------*/
.custMainBookingCont{
  background-image: var(--pathImgBackFindCar);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* color: var(--colTxtBanners); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custMainBookingTable{
  width: 100vw;
  margin-left: 100px;
}

.manageBookingInputRO{
  background-color: #cccccc;
}

.manageBookingLabel{
  display: inline-block;
  width: 170px;
}

/*----------------*/
/*  Footer Styles */
/*----------------*/

.globalFooter{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--colBackBanners);
  color: var(--colTxtBanners);
  display: flex;
  align-items: center;
  margin:0px;
}

.footerBtnAdm{
  transform: rotate(360deg);
  transition: 450ms ease-in-out;
  color: #FF8671;
}

.footerBtnAdm:hover{
  transform: rotate(0deg);
  color: #ee563b;
}

.footLegalMentionsLink{
  text-decoration: none;
  color: white;
}

.footLegalMentionsLink:hover{
  color: grey;
}

.cnxAdmCont{
  margin-top: 50px;
  margin-left: 50px;
}

.admCont{
  background-image: var(--pathImgBackAdm);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--colBackBanners);
  height: 100vh;
  padding-left: 100px;
  /* margin-top: 46px; */
}

#tableRoleUser{
  display: none;
}

#tableUser{
  display: none;
}

#tableCity{
  display: none;
  width:500px;
}

#tableAgency{
  display: none;
}

#tableCustomer{
  display: none;
}

#tableParkcar{
  display: none;
}

#tableBooking{
  display: none;
}

